.bountyCard {
  position: relative;
  display: grid;
  margin: auto;
}

.bountyImage {
  border: 1px solid rgba(100, 100, 100, 0.5);
  border-radius: 10%;
  opacity: 0.75;
  max-width: 235px;
  filter: contrast(500%);
  filter: hue-rotate(-140deg);
  transition: 2s;
}

.bountyImage:hover {
  filter: hue-rotate(50deg);
}

.bountyInfo {
  z-index: 500;
  font-family: thinnerFont;
  color: rgba(100, 100, 100, 0);
  text-align: center;
  letter-spacing: 4px;
  font-size: 15px;
  transition: 2s;
}

.bountyImage:hover + .bountyInfo {
  color: rgba(255, 255, 255, 0.8);
}

.bountyCardGroup {
  position: relative;
  top: 100px;
  /* border: white 1px solid; */
}

.slider {
  position: relative;
  margin: auto;
}
