.navbar {
  background-color: rgb(17, 17, 17);
  height: 120px;
}

.navbar nav {
  height: 100%;
}

.navbar ul {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: right;
  margin: 0;
  padding: 35px;
  text-align: center;
}

.navbar li {
  padding: 10px 30px;
  margin: 0rem;

  font-size: 18px;
  font-family: myFirstFont;
  line-height: 30px;
}

.navbar a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.navbar a:hover,
.navbar a:active,
.navbar a.active {
  color: whitesmoke;
  padding-bottom: 1rem;
  border-bottom: 1px solid whitesmoke;
}
