@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(26, 26, 26);
}

html {
  font-family: "Oxygen", sans-serif;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: myFirstFont;
  src: url(./assets/SfDistantGalaxy-0l3d.ttf);
}

@font-face {
  font-family: thinnerFont;
  src: url(./assets/SfDistantGalaxyOutline-xoeO.ttf);
}

.StarWarsFont {
  font-family: myFirstFont;
  color: white;
  letter-spacing: 1px;
  font-size: 30px;
  word-spacing: 10px;
}

#title {
  font-family: thinnerFont;
  letter-spacing: 1px;
  font-size: 45px;
}

.thinnerStarWarsFont {
  font-family: thinnerFont;
  color: white;
  letter-spacing: 1px;
  font-size: 30px;
}

#dashBoard {
  background-color: black;
  display: block;
  width: 1000px;
  height: 1000px;
}

h1 {
  text-align: left;
  font-size: 25px;
}

h4 {
  font-weight: lighter;
  letter-spacing: 1px;
  text-align: left;
  line-height: 2;
}

.list {
  text-align: left;
}

#searchbar {
  position: absolute;
  left: 200px;
  top: 40px;
  height: 30px;
  width: 300px;
}

.individualCards {
  vertical-align: 10px;
  background-color: rgb(24, 24, 24);
  color: blanchedalmond;
  max-width: 500px;
  height: 1100px;
  padding: 30px;
  margin: 20px;
  float: left;
  border: 2px solid rgb(39, 39, 39);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 15%;
  text-align: center;
}

.weapon-Card div:hover,
.weapon-Card div:active {
  background-color: rgb(19, 19, 19);
}

.weapon-Card .card-images {
  max-width: 200px;
  height: auto;
  padding: 5px;
}

.weapon-Card {
  align-items: center;
  vertical-align: top;
}

.image-container {
  vertical-align: bottom;
  display: inline-block;
  background-color: white;
  border-radius: 10%;
}

#cartHolder {
  display: block;
  position: relative;
  top: -85px;
  left: 1250px;
}

#cart {
  position: absolute;
}
