@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Oxygen", sans-serif;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  align-items: center;
}

@font-face {
  font-family: myFirstFont;
  src: url(./assets/SfDistantGalaxy-0l3d.ttf);
}

@font-face {
  font-family: thinnerFont;
  src: url(./assets/SfDistantGalaxyOutline-xoeO.ttf);
}

@font-face {
  font-family: mainText;
  src: url(./assets/Stellar-light.otf);
}

@font-face {
  font-family: A68MarketFont;
  src: url(./assets/Megrim.ttf);
}

.StarWarsFont {
  font-family: myFirstFont;
  color: white;
  letter-spacing: 1px;
  font-size: 30px;
  word-spacing: 10px;
}

#title {
  font-family: thinnerFont;
  letter-spacing: 1px;
  font-size: 45px;
  text-align: center;
  color: white;
  width: 200px;
  position: absolute;
  top: -20px;
  left: -10px;
  display: block;
}

.thinnerStarWarsFont {
  font-family: thinnerFont;
  color: white;
  letter-spacing: 1px;
  font-size: 30px;
}

#dashBoard {
  background-color: black;
  display: block;
  width: 1000px;
  height: 1000px;
}

h1 {
  font-family: MyFirstFont;
  text-align: left;
  font-size: 15px;
  letter-spacing: 2px;
}

h4 {
  font-weight: lighter;
  letter-spacing: 1px;
  text-align: left;
  line-height: 2;
}

@keyframes blink {
  0% {
    border-color: rgb(153, 0, 0);
  }
  50% {
    border-color: rgb(161, 0, 161);
  }
  100% {
    border-color: rgb(153, 0, 0);
  }
}

.list {
  text-align: left;
  line-height: 2;
  margin-left: -25px;
  border-top: 2px solid darkred;
  width: 116.5%;
  -webkit-animation: blink 2s infinite;
}

@keyframes blink2 {
  0% {
    border-color: rgb(0, 192, 26);
  }
  50% {
    border-color: rgb(0, 73, 16);
  }
  100% {
    border-color: rgb(0, 192, 26);
  }
}

.list2 {
  text-align: left;
  line-height: 2;
  margin-left: -25px;
  border-top: 2px solid greenyellow;
  width: 116.5%;
  -webkit-animation: blink2 3s infinite;
}

.links {
  position: relative;
  /* bottom: 0px; */
}

#searchbar {
  position: absolute;
  left: 200px;
  top: 40px;
  height: 30px;
  width: 300px;
}

.individualCards {
  font-family: mainText;
  vertical-align: 10px;
  background-color: rgba(24, 24, 24, 0.7);
  color: rgb(234, 234, 250);
  width: 400px;
  max-height: 1300px;
  padding: 30px;
  margin: 20px;
  float: left;
  /* border: 2px solid rgb(39, 39, 39); */
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 1%;
  text-align: center;
  top: 0px;
}

.individualCards h1 {
  min-height: 55px;
  line-height: 25px;
}

.shoppingCards {
  /* vertical-align: 10px; */
  background-color: rgba(24, 24, 24, 0.95);
  color: rgb(234, 234, 250);
  width: 1500px;
  padding: 30px;
  margin: 10px;
  /* float: left; */
  border: 2px solid rgb(39, 39, 39);
  position: relative;
  /* display: flex;
  flex-direction: column; */
  border-radius: 1%;
  text-align: center;
  top: 0px;
}

.weapon-Card div:hover {
  background-color: rgb(10, 10, 10);
  transition: 0.5s;
  transform: scale(1.1);
  border-radius: 2%;
  color: blanchedalmond;
  /* top: 32px; */
  z-index: 101;
}

.image-container {
  display: inline-block;
  background-color: white;
  /* border-radius: 5%; */
}
.image-container div:hover {
  transition: 1s;
  transform: scale(1.025);
}

.weapon-Card .card-images {
  padding: 5px;
}

.card-images {
  height: 100px;
  max-width: 340px;
}

.weapon-Card {
  width: 900px;
  display: grid;
  grid-template-columns: repeat(4, 30%);
  grid-column-gap: 135px;
  top: 0px;
  margin-left: 110px;
}

#cart {
  position: relative;
  border: rgba(0, 255, 55, 0.2) 1px solid;
  padding: 15px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
}

#cartHolder {
  position: relative;
  width: 50px;
  left: 1780px;
  top: 20px;
  z-index: 100;
}

#Num-Cart-Items {
  color: white;
  position: relative;
  top: -85px;
  right: 0px;
}

.cartItemsDiv {
  margin-left: 300px;
  display: grid;
  /* grid-template-columns: repeat(1, 20%); */
  grid-column-gap: 10px;
}

.cart-images {
  position: absolute;
  left: -250px;
  top: 20px;
  max-width: 200px;
}

.button-div {
  padding: 15px;
  position: relative;
  margin-top: auto;
}

.purchase-button {
  font-family: MyFirstFont;
  background-color: transparent;
  color: white;
  margin: auto;
  padding: 25px;
  border-radius: 10%;
  position: relative;
  bottom: 0px;
}

.purchase-button:hover {
  color: greenyellow;
  transition: 1s;
}

.checkout {
  color: rgb(230, 230, 230);
  padding: 1px 20px;
  border: 1px cyan solid;
  margin-left: 20px;
  background-color: rgba(0, 119, 255, 0.144);
  margin-right: 110px;
  border-radius: 5%;
  transition: 0.5s;
}

.checkout:hover {
  transform: scale(1.1);
  background-color: rgba(0, 119, 255, 0.144);
  border: 1px rgb(51, 255, 0) solid;
  color: rgb(51, 255, 0);
  padding: 5px 20px;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),
    url("https://wallpaperaccess.com/full/13392.jpg");
  background-color: rgba(21, 21, 21, 1);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.firstRow {
  position: relative;
  display: flex;
  top: 50px;
}

.firstRow {
  z-index: 150;
}

#banner-img {
  width: 50%;
  height: auto;
  position: relative;
}

#banner-img-3 {
  width: 100%;
  position: relative;
  object-position: 20% 20%;
}

#BM-Holder {
  position: relative;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXlC10i3S-UirkAIfAZ973hPDhs3lAmML3ZQ&usqp=CAU");
  /* background-color: rgb(8, 8, 8); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: auto;
  text-align: center;
  color: white;
}

#blackMarketTitle {
  position: relative;
  left: 40%;
  top: 0%;
  width: 50%;
  font-size: 30px;
  font-family: MyFirstFont;
  color: rgb(253, 225, 132);
}

#SecondHolder {
  position: relative;
  /* background-color: rgb(16, 16, 20); */
  background-image: url("https://media.istockphoto.com/vectors/grid-for-futuristic-hud-interface-line-technology-vector-pattern-vector-id1134391093?k=20&m=1134391093&s=612x612&w=0&h=J3vSi9uq-Ds5xqzz9-_5sliQZuNzZQYx2mD_ZE25lcE=");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: auto;
  text-align: center;
  color: white;
  border: darkred 0.5px solid;
}

#SecondInfo {
  position: relative;
  left: 50%;
  top: 20%;
  width: 50%;
  font-size: 30px;
  font-family: MyFirstFont;
  color: rgb(253, 225, 132);
}

#A68-Title {
  position: relative;
  top: -80px;
  font-family: A68MarketFont;
  color: rgb(94, 0, 20);
  font-size: 100px;
  letter-spacing: 10px;
}

.HomePage {
  display: block;
}

.disclaimer {
  color: white;
  font-weight: lighter;
  font-size: 9px;
  /* border: white 1px solid; */
  position: relative;
  top: 190px;
  height: 100px;
  display: grid;
}

#rightsReserved {
  text-align: center;
}

.icon {
  position: relative;
  width: 1.5%;
  padding: 5px;
  left: 900px;
}

.iconsGroup {
  filter: grayscale(100%);
}

#mando {
  width: 35%;
  position: relative;
  bottom: 50px;
}
